section.ticker
        .ticker__content
          p.ticker__text Дело помощи утопающим — дело рук самих утопающих!
          <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="3" fill="white"/></svg>
          p.ticker__text Шахматы двигают вперед не только культуру, но и экономику!
          <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="3" fill="white"/></svg>
          p.ticker__text Лед тронулся, господа присяжные заседатели!
          <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="3" fill="white"/></svg>