doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Клуб четырех коней
    link(rel="shortcut icon", type="image/png", href="img/favicon.png")
    link(href="css/index.min.css", rel="stylesheet")
    script(src="js/index.min.js", type="module")
  body
    header.header
      .container.header__container
        img.header__logo(width="245", height="36", src="img/logo.svg", alt="Логотип клуба четырех коней")
    main.main
      section.preview
        .container.preview__container
          h1.preview__title Превратите уездный&nbsp;город<br>
            span.preview__title-add в&nbsp;столицу земного шара
          p.preview__description Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам  
          div.preview__block-btn        
            a.btn.btn-def.preview__btn(href="#action") Поддержать шахматную мысль
            a.btn.btn-tran.preview__btn(href="#more") Подробнее о турнире
      include includes/ticker.pug      
      section.action#action
        .container.action__container
          h2.action__title Чтобы поддержать Международный васюкинский турнир
            span.action__title-float  посетите лекцию на тему: 
            span.action__title-red «Плодотворная дебютная идея»
          picture.action__picture
            source(srcset="img/many_chees_players.webp", type="image/webp")
            source(srcset="img/many_chees_players.avif", type="image/avif")
            img.action__img(width="394", height="250", src="img/many_chees_players.jpg", alt="Фото турнира Плодотворная дебютная идея")
      section.more#more
        .container.more__container
          picture.more__picture
            source(srcset="img/frame.webp", type="image/webp")
            source(srcset="img/frame.avif", type="image/avif")
            img.more__img(width="474", height="527", src="img/frame.png", alt="Фото одновременной игры в шахматы на 160 досках ")
          .more__content
            h2.more__title 
              | и Сеанс 
              span.more__title-add одновременной игры в шахматы на 160 досках
              |  гроссмейстера О. Бендера
            ul.more__items
              li.more__item
                p.more__item-title Место проведения:
                p.more__item-text Клуб «Картонажник»
              li.more__item
                p.more__item-title Дата и время мероприятия:
                p.more__item-text 22 июня 1927 г. в 18:00
              li.more__item
                p.more__item-title Стоимость входных билетов:
                p.more__item-text 20 коп.
              li.more__item
                p.more__item-title Плата за игру:
                p.more__item-text 50 коп.
              li.more__item
                p.more__item-title Взнос на телеграммы:
                p.more__item-text 
                  span.more__item-text-price 100 руб.
                  |  21 руб. 16 коп.
            p.more__description По всем вопросам обращаться в администрацию к К. Михельсону
      section.stages
        .container.stages__container
          hgroup.stages__hgroup
            h2.stages__title Этапы преображения Васюков
            p.stages__description Будущие источники обогащения васюкинцев
          ul.stages__items
            li.stages__item Строительство железнодорожной магистрали Москва-Васюки
            li.stages__item Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
            li.stages__item Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
            li.stages__item Строительство дворца для турнира
            li.stages__item Размещение гаражей для гостевого автотранспорта
            li.stages__item Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
            li.stages__item Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
          picture.stages__picture
            source(srcset="img/airplane.webp", type="image/webp")
            source(srcset="img/airplane.avif", type="image/avif")
            img.stages__img(width="376", height="140", src="img/airplane.png", alt="Фото самолет этажерка")
          .stages__arrows
            <svg class="btn__arrow contributors__arrows-left" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" disabled>
            <circle cx="22" cy="22" r="22" transform="rotate(-180 22 22)" fill="currentColor"/>
            <path d="M24.5382 30.4614L16.0767 21.9999L24.5382 13.5384" stroke="white" stroke-width="2" stroke-linecap="square"/>
            </svg>
            .stages__arrows-circle
              ul.stages__arrows-circle-items
                li.stages__arrows-circle-item.stages__arrows-circle-item_active
                li.stages__arrows-circle-item
                li.stages__arrows-circle-item
                li.stages__arrows-circle-item
                li.stages__arrows-circle-item                
            <svg class="btn__arrow contributors__arrows-right" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22" cy="22" r="22" fill="currentColor"/>
            <path d="M19.4618 13.5385L27.9233 22L19.4618 30.4615" stroke="white" stroke-width="2" stroke-linecap="square"/>
            </svg>
      section.contributors
        .container.contributors__container
          h1.contributors__title Участники турнира   
          div.contributors__wrapper
            ul.contributors__items
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Хозе-Рауль Капабланка
                p.contributors__info Чемпион мира по шахматам
                a.btn__link.contributors__link(href="#") Подробнее
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Эммануил Ласкер
                p.contributors__info Чемпион мира по шахматам
                a.btn__link.contributors__link(href="#") Подробнее
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Александр Алехин
                p.contributors__info Чемпион мира по шахматам
                a.btn__link.contributors__link(href="#") Подробнее
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Арон Нимцович
                p.contributors__info Чемпион мира по шахматам
                a.btn__link.contributors__link(href="#") Подробнее
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Рихард Рети
                p.contributors__info Чемпион мира по шахматам
                a.btn__link.contributors__link(href="#") Подробнее
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Остап Бендер
                p.contributors__info Гроссмейстер
                a.btn__link.contributors__link(href="#") Подробнее
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Хозе-Рауль Капабланка
                p.contributors__info Чемпион мира по шахматам
                a.btn__link.contributors__link(href="#") Подробнее
              li.contributors__item
                img.contributors__img(width="320", height="320", src="img/contributor.png", alt="")
                h3.contributors__name Эммануил Ласкер
                p.contributors__info Чемпион мира по шахматам
                a.btn__link.contributors__link(href="#") Подробнее
          .contributors__arrows
            <svg class="btn__arrow contributors__arrows-left" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22" cy="22" r="22" transform="rotate(-180 22 22)" fill="currentColor"/>
            <path d="M24.5382 30.4614L16.0767 21.9999L24.5382 13.5384" stroke="white" stroke-width="2" stroke-linecap="square"/>
            </svg>
            div 
              span.contributors__contributor 3
              span /
              span.contributors__count-contributor 6
            <svg class="btn__arrow contributors__arrows-right" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22" cy="22" r="22" fill="currentColor"/>
            <path d="M19.4618 13.5385L27.9233 22L19.4618 30.4615" stroke="white" stroke-width="2" stroke-linecap="square"/>
            </svg>
      include includes/ticker.pug
    footer.footer
      .container.footer__container
        p.footer__text Все персонажи, события и цитаты являются вымышленными и не принадлежат создателям сайта. С подробностями можно познакомиться в главе XXXIV романа Ильи Ильфа и Евгения Петрова «Двенадцать стульев».