doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Клуб четырех коней
    link(rel="shortcut icon", type="image/png", href="img/favicon.png")
    link(href="css/index.min.css", rel="stylesheet")
    script(src="js/index.min.js", defer)
  body
    header.header      
    main.main 
    footer.footer