.btn {
  display: inline-block;
  max-width: 263px;
  padding: 20px 49px;
  text-align: center;
  border-radius: 66px;
  border: 2px solid $bg-btn-default-black;
  transition: color 0.36s,
    background-color 0.36s,
    border-color 0.36s;

  @include tablet {
    font-size: 16px;
  }

  &-def {
    background-color: $bg-btn-default-black;
    color: $white;
    margin-right: 16px;

    @include desktop {
      margin-right: 0;
    }

    &:hover {
      background-color: $bg-btn-hover;
      border-color: $bg-btn-hover;
      color: $color-text;
      transition: color 0.36s,
        background-color 0.36s,
        border-color 0.36s;
    }
  }

  &-tran {
    @include tablet {
      background-color: $white;
      opacity: 0.9;
    }

    &:hover {
      background-color: $bg-btn-default-black;
      color: $white;
      transition: color 0.36s,
        background-color 0.36s;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $color-btn-link;
    border: 1px solid $color-btn-link;
    border-radius: 62px;
    padding: 12px;
    transition: color 0.36s, background-color 0.36s;

    &:hover {
      color: $white;
      background-color: $color-btn-link;
      transition: color 0.36s, background-color 0.36s;
      // transform: translateX(25px);
    }
  }

  &__arrow {
    cursor: pointer;
    color: $color-text;
    transition: color 0.36s;

    &:hover {
      color: $bg-btn-hover;
      transition: color 0.36s;
    }

    &[disabled] {
      color: #d6d6d6;
      cursor: default;
    }
  }
}