.stages {
  padding-top: 100px;
  padding-bottom: 100px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    position: relative;
  }

  &__hgroup {
    position: relative;
    margin-bottom: 54px;
    max-width: 806px;

    @include tablet {
      margin-bottom: 148px;
    }
  }

  &__title {
    font-family: "merriweather-v30-cyrillic";
    font-size: 54px;
    line-height: 1.2;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: 12px;
      font-size: 36px;
      margin-bottom: 12px;
    }
  }

  &__description {
    position: absolute;
    bottom: 10px;
    left: 38%;
    font-size: 20px;
    line-height: 1.2;
    color: #3057a2;
    display: inline-block;
    width: 280px;

    @include tablet {
      position: static;
      font-size: 18px;
      width: 100%;
    }
  }

  &__wrapper {
    @include tablet {
      overflow: hidden;
    }
  }

  &__items {
    display: grid;
    grid-template-areas:
      "stroy open selhos"
      "strohouse garaj selhos"
      "radio aero aero";
    gap: 20px;

    @include tablet {
      grid-template-areas:
        "stroy selhos strohouse radio aero"
        "open selhos garaj radio aero";
      row-gap: 0;
      column-gap: 20px;
      margin-bottom: 28px;
      transition: transform 0.36s;
    }
  }

  &__item {
    position: relative;
    padding: 20px 20px 20px 70px;
    background-image: image-set(url('../img/bg-preview-osn.webp') type('image/webp'),
        url('../img/bg-preview-osn.avif') type('image/avif'),
        url('../img/bg-preview-osn.jpg'));
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    @include tablet {
      padding: 62px 20px 34px 72px;
    }

    &::before {
      counter-increment: stages;
      position: absolute;

      left: 20px;
      content: counter(stages);
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      padding-left: 12px;
      padding-top: 6px;
      width: 36px;
      height: 36px;
      background-color: $white;
      border-radius: 50%;
    }

    &:nth-child(1) {
      grid-area: stroy;

      @include tablet {
        width: 335px;
        padding-bottom: 14px;
      }
    }

    &:nth-child(2) {
      grid-area: open;

      @include tablet {
        width: 335px;
        padding-top: 14px;
        padding-bottom: 34px;
      }
    }

    &:nth-child(3) {
      grid-area: selhos;

      @include tablet {
        width: 335px;
      }
    }

    &:nth-child(4) {
      grid-area: strohouse;

      @include tablet {
        width: 335px;
        padding-bottom: 14px;
      }
    }

    &:nth-child(5) {
      grid-area: garaj;

      @include tablet {
        width: 335px;
        padding-top: 14px;
        padding-bottom: 34px;
      }
    }

    &:nth-child(6) {
      grid-area: radio;

      @include tablet {
        width: 335px;
      }
    }

    &:nth-child(7) {
      grid-area: aero;
      padding-right: 275px;

      @include tablet {
        width: 335px;
        padding-right: 20px;
      }
    }
  }

  &__picture {
    position: absolute;
    bottom: 77px;
    right: 20px;
    width: 376px;
    height: 140px;

    @include tablet {
      width: 335px;
      height: 182px;
      top: 180px;
      left: 20px;
    }
  }

  &__arrows {
    display: none;

    @include tablet {
      display: flex;
      width: 178px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
    }

    &-circle {
      &-items {
        display: flex;
        align-items: center;
        align-items: space-between;
        gap: 6px;
      }

      &-item {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #d9d9d9;

        &_active {
          background-color: $color-text;
        }
      }
    }
  }
}