$color-text: #313131;
$color-text-red: #f54932;

$bg-btn-default-black: #1f1f1f;
$bg-btn-default-transparent: transparent;
$bg-bt-hover: #fbce51;

$black: #000;
$white: #FFF;

$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$background: #FFF;

@mixin tablet {
  @media (width<=#{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (width<=#{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (width<=#{$desktop}) {
    @content;
  }
}

@mixin font($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }

  src: url("../fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
  // url("../fonts/#{ $name }-#{ $weight }.woff") format("woff"),
}